body {
    background: #4D0606;
}

/* Post settings */
.review {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

/* Button settings */
.btn {
    background-color: #0E6655;
    color: #fff;
}

#send-btn {
    margin-top: 15px;
}

#send-btn:hover {
    background: #4D0606;
    color: #fff;
}
